# Required
GROQ_API_KEY=gsk_your_api_key_here

# Optional
GROQ_MODEL=mixtral-8x7b-32768
ROSSETE_STORAGE_PATH=./generated_documents
ROSSETE_TEMPLATES_PATH=./templates
ROSSETE_LOG_LEVEL=INFO
ROSSETE_MAX_CONCURRENT=5
ROSSETE_MAX_BLOCKS=10
ROSSETE_MAX_TOKENS_PER_BLOCK=8000
